body {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

.button {
    color: white;
    background-color: orangered;
    margin-top: 30px;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 200;
    font-size: 20px;
    border-radius: 10px;
    border: 0px;
}

/* Home */
.home {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 1450px 500px;
}

.home-text {
    padding: 4rem 20rem;
    text-align: center;
}

.home h1 {

    font-weight: 700;
    font-size: 70px;
    color: white;
}

.home p {
    font-weight: 400;
    font-size: 25px;
    color: white;
    padding-bottom: 20px;
}

/* Donate today */
.donate-today {
    padding: 4rem 20rem;
    text-align: center;
}

.donate-text h2 {
    font-weight: 800;
    font-size: 45px;
}

.donate-text p {
    font-weight: 400;
    font-size: 25px;
}

.donate-amount {
    margin: 40px 0px;
    display: flex;
}

.amount {
    font-weight: 900;
    font-size: 35px;
    padding: 10px 40px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(231, 231, 229);
}

#selected-amount {
    color: orangered;
    border: 2.5px solid red;
    border-radius: 10px;
    background-color: rgb(255, 236, 236);
}

.donate-amount {
    /*nothing yet*/
}

/* Donation plan*/
.plan {
    padding: 4rem 10rem;
    text-align: center;
}

.plan-text h2 {
    font-weight: 800;
    font-size: 45px;
}

.plan-text p {
    font-weight: 400;
    font-size: 25px;
}

.plan-cards {
    margin-top: 100px;
    display: flex;
}

.food {
    background-color: rgb(198, 238, 252);
}

.shelter {
    background-color: rgb(253, 211, 217);
}

.education {
    background-color: rgb(253, 253, 226);
}

.card {
    width: 100%;
    text-align: left;
    padding: 40px 30px 40px 20px;
    margin: 0px 10px;
    border-radius: 15px;
}

.card-text h3 {
    font-weight: 900;
    font-size: 25px;
}

/*faq*/
.faq {
    padding: 2rem 15rem;
    text-align: center;
}

.faq h2 {
    font-weight: 800;
    font-size: 45px;
}

.faq-text h3 {
    font-weight: 900;
    font-size: 25px;
}

.faq-text {
    text-align: left;
    margin-top: 25px;
    padding: 10px 10px;
    box-shadow: 0px 1px 5px rgb(96, 225, 165);
    border-radius: 15px;
    background-color: rgb(210, 250, 210);
}

/*updates*/
.updates {
    padding: 4rem 20rem;
    text-align: center;
}

.updates-text h2 {
    font-weight: 800;
    font-size: 45px;
}

.updates-text p {
    font-weight: 400;
    font-size: 25px;
}

.subscribe {
    padding: 60px 80px;
    background-color: lightsalmon;
    border-radius: 20px;
}

/*footer*/
footer {
    text-align: center;
    background-color: black;
    padding: 30px 0;
}

footer h2 {
    font-size: 25px;
    color: tomato;
    font-family: cursive;
}

footer p {
    color: white;
}